*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

header {
    background-color: #062144;
    width: 100%;
    height: 80px;
  
}
header div {
    display: flex;
    align-items: center;
}
header div .picture{
    width: 40%;
    display: flex;
    align-items: center;
    padding: 15px;
}

img {
    height: 50px;
}

header .picture h1 {
    font-family: monospace;
    color: rgb(157, 197, 207);
    font-size: 3rem;
}
header div nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header div nav ul{
    padding-right: 20px;
}
header div nav ul li {
   display:inline;
   padding-inline-end: 15px;
   font-size: 1.4rem;
   font-family: monospace;
}
header div  nav ul li a {
    color: antiquewhite;
    text-decoration: none;
}