*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: monospace;
}

body {
    background-color: #113361;
}
header {
    background-color: #0a2c58;
    width: 100%;
    height: auto;
    box-shadow: 5px 10px 10px #07254d;
  
}
main {

}
header div {
    display: flex;
    align-items: center;
}
header div .picture{
    width: 40%;
    display: flex;
    align-items: center;
    padding: 15px;
}

img {
    height: 50px;
}

header .picture h1 {
    color: rgb(135, 138, 165);
    font-size: 4rem;
    padding-left: 10px;
}
header div nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header div  nav p a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 2.6rem;
    margin-right: 20px;
}
header div ul {
    color: antiquewhite;
    list-style: none;
    width: 150px;
    text-align: right;
    font-size: 1.8rem;
    padding-right: 20px;
}
.cerrar{
    padding-top: 10px;
}
.perfil:hover, .despliegue:hover
  {
      color: rgb(108, 132, 146);
    
  }
header div nav picture {
    border-radius: 30px;
    padding-top: 3px;
    margin-right: 15px;
}

main section {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h2{
    padding-top: 80px;
    justify-content: ;
    font-size: 5rem;
    color: #8a9eb8;
}
input{
    border: 3px solid rgb(43, 53, 77);
    border-radius: 25px;
    width: 55%;
    height: 40px;
    color: rgb(23, 35, 66);
    font-size: 3.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    outline:none;
}
input:focus-visible {
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    
}
::placeholder {
    color: #cad7e7;
}